<%= link_to '投稿一覧へ', root_path, class: 'command_edit', style: 'background-image: linear-gradient(#d800f5 0%, rgb(221, 119, 207) 100%)' %>
<%= link_to 'マイページへ', posts_path, class: 'header-menu', data: {"turbolinks"=>false}%>
<h2><%= @post.title %></h2>
<p style="font-size: 16px"><%= @post.body %></p>
<%# 投稿に画像が投稿されていれば表示する %>
<% if @post.img? %>
<%= image_tag @post.img %>
<% end %>
<h4 style="border-bottom: 3px solid #ddd">位置情報</h4>
<div id="prev_target"></div>

<h3 style="border-bottom: 3px solid #ddd">コメント</h3>
<% if @post.comments.any? %> <%# postに紐づくコメントがあるかを確認 %>
<ul>
  <% @post.comments.each do |comment| %>
  <li style="font-size: 14px">
    <p>
      <%= comment.user_name %> さんのコメント
    </p>
    <%= comment.body %>
    <%# コメント主は自分のコメントを、ポストの投稿者は全てのコメントを削除することができる %>
    <% if current_user.id == comment.user_id || current_user.id == @post.user_id %> 
    <%= link_to 'x', 
  post_comment_path(@post, comment), 
  method: :delete, 
  class: 'command_x',
  data: { confirm: 'Sure?'}%>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>
<%= form_for ([@post, @post.comments.build]) do |f|%>
<p>
  <%= f.text_field :body, class: 'title' %>
  <%# コメント投稿時にユーザーネームとユーザーidも暗に登録 %>
  <%= f.hidden_field :user_name, value: current_user.name %>
  <%= f.hidden_field :user_id, value: current_user.id %>
</p>
<p>
  <%= f.submit "コメント投稿"%>
</p>
<% end %>

<script
  src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyCR9EmqJhJtXvukg0bstS-Sm_ATTsu6-Co&callback=initMap&libraries=places"
  async defer></script>


<script>
  function initMap() {
    'use strict';

    let target = document.getElementById('prev_target');
    let geocoder = new google.maps.Geocoder();
    let map;
    let post_title = gon.post.title
    console.log(post_title)

    geocoder.geocode({
      address: post_title
    }, function (results, status) {
      if (status !== 'OK') { //検索結果のstatusがOK以外の時の処理
        alert('Failed: ' + status);
        return;
      }
      if (results[0]) {
        map = new google.maps.Map(target, {
          center: results[0].geometry.location,
          zoom: 14
        })

        new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          title: post_title
        });

      } else { //検索結果がなかった時の処理
        alert('No results found!')
      }
    });
  }
</script>